<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>图书管理系统</title>
    <script src="../../scripts/vue.js"></script>
    <script src="../../scripts/moment-with-locales.min.js"></script>
    <style type="text/css">
        .grid {
            margin: auto;
            width: 530px;
            text-align: center;
        }

        .grid table {
            border-top: 1px solid #C2D89A;
            width: 100%;
            border-collapse: collapse;
        }

        .grid th, td {
            padding: 10px;
            border: 1px dashed #F3DCAB;
            height: 35px;
            line-height: 35px;
        }

        .grid th {
            background-color: #F3DCAB;
        }

        .grid .book {
            padding-bottom: 10px;
            padding-top: 5px;
            background-color: #F3DCAB;
        }

        .grid .total {
            height: 30px;
            line-height: 30px;
            background-color: #F3DCAB;
            border-top: 1px solid #C2D89A;
        }
    </style>
</head>
<body>
<div id="app">
    <div class="grid">
        <h1>图书管理</h1>
        <div class="book">
            <div>
                <label for="id">
                    编号：
                </label>
                <input type="text" id="id" v-model="id" :disabled="flag" v-focus>
                <label for="name">
                    名称：
                </label>
                <input type="text" id="name" v-model.lazy="name">
                <button @click.prevent="handler_add" :disabled="submitFlag">提交</button>
            </div>
        </div>
        <div class="total">
            <span>图书总数：</span>
            <span>{{total}}</span>
        </div>
        <table>
            <thead>
            <tr>
                <th>编号</th>
                <th>名称</th>
                <th>时间</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="(book, index) in books" :key="book.id">
                <td>{{book.id}}</td>
                <td>{{book.name}}</td>
                <td>{{book.date|timeFormat}}</td>
                <td>
                    <a href="" @click.prevent="handler_edit(book.id)">修改</a>
                    <span>|</span>
                    <a href="" @click.prevent="handler_del(book.id)">删除</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>


<script type="text/javascript">

    let vm = new Vue({
        el: '#app',
        data: () => {
            return {
                submitFlag: false,
                flag: false,
                id: '',
                name: '',
                books: []
            }
        },
        methods: {
            handler_add: function () {
                // 根据旗标判断是添加还是删除，旗标为真即为添加
                if (this.flag) {
                    // 使用数组的some方法来更改数据
                    this.books.some((book) => {
                        // 用id来查找数据
                        if (book.id === this.id) {
                            // 赋值修改数据
                            book.name = this.name;
                            // 将旗标值改回
                            this.flag = false;
                            // 返回真来结束遍历
                            return true;
                        }
                    })
                } else {
                    // 新建数据
                    let newBook = {};
                    newBook.id = this.id;
                    newBook.name = this.name;
                    newBook.date = new Date();
                    this.books.push(newBook);
                }
                this.id = '';
                this.name = '';
            },
            handler_del: function (id) {
                // 用findIndex方法来查找元素下标
                let index = this.books.findIndex(function (book) {
                    // return 代表结束遍历
                    return book.id === id;
                })
                // splice方法删除。 pop方法删除的是最后一个
                this.books.splice(index, 1);
            },
            handler_edit: function (id) {
                // 1.填充表单
                // 根据id找到列表中的元素，使用数组的filter方法
                let book = this.books.filter(function (book) {
                    return book.id === id;
                })[0];
                // 将找到的数组中的元素的id和name赋值给添加数据中的框
                this.id = book.id;
                this.name = book.name;
                // 2.在原来的添加数据表单中编辑数据
                // 禁用id编辑
                this.flag = true;
                // 3.重用添加方法
            },
        },
        // 自定义指令
        directives:{
            focus:{
                inserted:function (el) {
                    el.focus();
                }
            }
        },
        //计算属性
        computed: {
            total:function () {
                return this.books.length;
            }
        },
        // 过滤器
        filters: {
            timeFormat: function (date) {
                moment.locale('zh-cn');
                return moment(date).format('MMMM Do YYYY, a h:mm:ss');
            }
        },
        // 侦听器
        watch: {
            name:function (val) {
                this.submitFlag = this.books.some(function (book) {
                    return book.name === val;
                })
            }
        },
        // 生命周期
        mounted: function() {
            this.books =[{
                id: 1,
                name: '三国演义',
                date: '2020-05-01T02:48:03.276515Z'
            },
                {
                    id: 2,
                    name: '水浒传',
                    date: '2020-05-01T02:48:03.276515Z'
                },
                {
                    id: 3,
                    name: '红楼梦',
                    date: '2020-05-01T02:48:03.276515Z'
                },
                {
                    id: 4,
                    name: '西游记',
                    date: '2020-05-01T02:48:03.276515Z'
                }]
        },
    });

</script>
</body>
</html>